#titre {
    font-size: large;
    font-weight: bold;
    color: rgb(116, 116, 116);
    background-color: black;
}

#instructions {
    font-size: large;
    font-weight: bold;
    background-color: rgb(80, 80, 80);
    color: black;
}

#beginNew,
#informations {
    margin-top: 20px;
    margin-bottom: 40px;
}

#lives {
    color: black;
}

#indice {
    color: rgb(90, 90, 90);
}

#beginNew,
#newPart {
    background-color: rgb(116, 116, 116);
}

#toPlay {
    font-size: large;
    font-weight: bold;
    background-color: darkgrey;
}

#toFind {
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;
}

.styleHole {
    border-bottom: 1px solid black;
    width: 30px;
    margin-right: 5px;
    font-size: large;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
}

#capitalize {
    text-transform: uppercase;
    font-weight: bolder;
}

#pendu,
#newPart {
    display: none;
}

#pendu,
#welcome {
    padding-bottom: 30px;
}

.ltr {
    border-radius: 15px;
    margin: 5px;
    font-size: large;
    font-weight: bold;
    width: 35px;
    height: 35px;
}

.ltr:hover {
    opacity: 0.8;
    background-color: #c72838cb;
}

#basDePage {
    background-color: rgb(80, 80, 80);
    color: black;
}

#footer {
    color: rgb(116, 116, 116);
    background-color: black;
}

#copyright {
    color: white;
    font-size: 12px;
}