.styleHole {
    border-bottom: 1px solid black;
    width: 5%;
    margin-right: 5px;
}

.bdrHole {}

#newPart {
    display: none;
}

#toFind {
    text-align: center;
}

#pendu {
    width: 25%;
    display: none;
}